.DS_Store

node_modules/
dist/
www/
www-dist/


# secrets
secrets.json

appenv.env.ts

.firebaserc
docs-vars.json

android.custom.properties
assetlinks.json
google-services.json
play-console-account.json
upload-keystore.jks

apple-app-site-association
App.entitlements
GoogleService-Info.plist
Ad_Hoc.mobileprovision
Release.mobileprovision
AppleDistribution.p12

release.keystore

SECRET_VALUES.txt


/firebase/*.log
/firebase/emu-data/
/firebase/console
/firebase/client
/scripts/dev-proxy/*.pem
