.DS_Store

node_modules/
dist/
www/
www-dist/


# secrets
secrets.json
appenv.env.ts
.firebaserc
SECRET_VALUES.txt


/firebase/*.log
/firebase/emu-data/
/firebase/main
/firebase/functions/.runtimeconfig.json
/scripts/dev-proxy/*.pem
