app-room-admin {
  .name-form {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;

    button.submit {
      display: inline-block;
      margin: 20px auto;
    }
  }

  .invite-form {
    padding: 10px;
    text-align: center;

    .url {
      margin-top: 20px;
      border-radius: 5px;
      border: 1px solid var(--light-border-color);
      user-select: all;
      padding: 10px;
      font-weight: bolder;
      word-break: break-all;
    }
  }
}
