app-room {
  .name {
    padding: 20px 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.3em;
    border-bottom: 1px solid var(--border-color);
  }

  .msgs {
    .msg {
      margin: 20px 10px 10px;

      border-bottom: 1px dotted var(--light-border-color);
      padding-bottom: 20px;

      .head {
        display: flex;
        font-size: 0.9em;
        .author {
          font-weight: bold;
        }
        .date {
          margin-left: auto;
          color: var(--light-color);
        }
      }
      .body {
        margin-top: 20px;
        line-height: 1.8;
      }
      .fp {
        display: flex;
        justify-content: right;
        align-items: center;
        color: var(--light-color);
        font-size: 0.9em;
      }
    }
  }

  ap-modal.msg-form {
    --modal-content-margin: 20px auto auto;
    .form-modal {
      padding: 5px;
      ap-input.body {
        margin-top: 20px;
      }
      .buttons {
        margin-top: 10px;
        display: flex;

        button.cancel {
          margin: 0 5px 0 auto;
        }
      }
    }
  }

  ap-modal.delete-msg {
    .modal-content {
      padding: 20px;
      .desc {
        white-space: pre-line;
      }
      .buttons {
        margin-top: 30px;
        text-align: right;
        button.submit {
          margin-left: 20px;
        }
      }
    }
  }

  .buttons {
    margin: 30px 10px 0;
    display: flex;
    justify-content: center;

    a.announcing {
      margin-left: auto;
      border: 1px solid var(--border-color);
      border-radius: 50%;
    }
  }

  .admin {
    margin: 30px 10px 0;
    text-align: right;
  }
}
